{% load static %}
<html lang="tr" class="h-100">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Triatlon Akademisi>
    <meta name="author" content="Orçun Madran">
    <title>triatlonakademisi.com.tr</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JQuery UI core CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'base_files/sticky-footer-navbar.css' %}">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</head>
  <body class="d-flex flex-column h-100">
    <header>
  {% include 'navbar.html' %}
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    {% block content %}
      {% endblock %}
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">
        <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text"><span rel="dct:title">Bu site altında yer alan tüm materyaller aksi belirtilmedikçe</span> <a rel="license" href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0 <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /></a> uluslararası lisansı ile <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="www.madran.net">Orçun Madran</a> tarafından lisanslanmıştır.</p>
    </span>
  </div>
</footer>
</body></html>